{##
 # Downloads
 #
 # Shows downloads on the account page.
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/myaccount/downloads.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see     https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 3.2.0
 #}

{% set downloads     = customer.get_downloadable_products() %}
{% set has_downloads = downloads|length|abs %}

{% do action( 'woocommerce_before_account_downloads', has_downloads ) %}

{% if has_downloads %}

	{% do action('woocommerce_before_available_downloads' ) %}

	{% do action('woocommerce_available_downloads', downloads ) %}

	{% do action('woocommerce_after_available_downloads' ) %}

{% else %}
	<div class="woocommerce-Message woocommerce-Message--info woocommerce-info">
		<a class="woocommerce-Button button" href="{{ fn('wc_get_page_permalink', 'shop')|apply_filters('woocommerce_return_to_shop_redirect')|e('esc_url') }}">
			{{ __( 'Browse products', 'woocommerce' )|e('html') }}
		</a>
		{{ __( 'No downloads available yet.', 'woocommerce' )|e('html') }}
	</div>
{% endif %}

{% do action( 'woocommerce_after_account_downloads', has_downloads ) %}
