{##
 # View Order
 #
 # Shows the details of a particular order on the account page.
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/myaccount/view-order.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see     https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 3.0.0
 #}

{% set notes = wc.order.get_customer_order_notes() %}
<p>
  {{ __( 'Order #%1$s was placed on %2$s and is currently %3$s.', 'woocommerce' )|e|format('<mark class="order-number">' ~ wc.order.get_order_number() ~ '</mark>','<mark class="order-date">' ~ fn('wc_format_datetime', wc.order.get_date_created()) ~ '</mark>','<mark class="order-status">' ~ fn('wc_get_order_status_name', wc.order.get_status()) ~ '</mark>') }}

</p>

{% if notes %}
	<h2>{{ __( 'Order updates', 'woocommerce' )|e('html') }}</h2>
	<ol class="woocommerce-OrderUpdates commentlist notes">
		{% for note in notes %}
		<li class="woocommerce-OrderUpdate comment note">
			<div class="woocommerce-OrderUpdate-inner comment_container">
				<div class="woocommerce-OrderUpdate-text comment-text">
					<p class="woocommerce-OrderUpdate-meta meta">{{ fn('date_i18n', __( 'l jS \o\f F Y, h:ia', 'woocommerce' )|e, fn('strtotime', note.comment_date)) }}</p>
					<div class="woocommerce-OrderUpdate-description description">
						{{ fn('wptexturize', note.comment_content)|wpautop }}
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</li>
		{% endfor %}
	</ol>
{% endif %}

{% do action( 'woocommerce_view_order', wc.order_id ) %}
