{##
 # Cross-sells
 #
 # This template can be overridden by copying it to yourtheme/woocommerce/cart/cross-sells.php.
 #
 # HOWEVER, on occasion WooCommerce will need to update template files and you
 # (the theme developer) will need to copy the new files to your theme to
 # maintain compatibility. We try to do this as little as possible, but it does
 # happen. When this occurs the version of the template file will be bumped and
 # the readme will list any important changes.
 #
 # @see https://docs.woocommerce.com/document/template-structure/
 # @package WooCommerce\Templates
 # @version 4.4.0
 #}

{% if wc.cross_sells %}

	<div class="cross-sells">
		{% set heading = __( 'You may be interested in&hellip;', 'woocommerce' )|apply_filters( 'woocommerce_product_cross_sells_products_heading') %}

		{% if heading %}
			<h2>{{ heading }}</h2>
		{% endif %}

		{% do fn('woocommerce_product_loop_start') %}

			{% for cross_sell in wc.cross_sells %}

				{% include "woocommerce/content-product.twig" %}

			{% endfor %}

		{% do fn('woocommerce_product_loop_end') %}

	</div>

{% endif %}

{% do fn('wp_reset_postdata') %}
